body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100vh;
    /*width: 100vh;*/
}

#control {
    max-height: 100vh;
}

div#arrow {
    display: none;
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    transform: rotate(-45deg);
}

#arrow::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: #000000;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}


#arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: #000000;
    transform-origin: 100% 0;
    transition: .2s ease;
}

#arrow:hover::after {
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
    right: -5px;
    bottom: -5px;
}

#arrow:hover::before {
    border-color: orange;
    transform: scale(.8);

}

